.App {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./Images/thimo-pedersen-TWCnHKKhqSo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.NavbarContainer {
  margin: 0;
  box-sizing: border-box; 
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.Navbar {
  width: 100%;
  display: flex;
  text-justify: left;
  color: white;
  display: inline;
}
box {
  display: flex;
  justify-content: center;
}

.Burger {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  padding-right: 2px;
}
.Burger:hover {
  color: blue;
}

.Burger90 {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: blue;
  padding-right: 2px;
}

.NavAndContent {
  margin: 2em;
  border: 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.Menu {
  display: flex;
  justify-self: flex-end;
}
.Content {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 75%;
  width: 50%;
  background-color: rgba(245, 245, 245, 0.67);
}

.pokeImg {
  height: 300px;
  width: auto;
}
.PokeList {
    margin: 2em;
    position: absolute;
    right: 0;
    text-align: center;
    list-style-type: none;
    right: 0;
    padding: 0;
    width: 150px;
    background-color: rgba(84, 84, 84, 0.716);
    border: 2px solid black;
    height: 400px;
}

.item:hover {
  color: blue;
}

.box {
  text-align: center;
}

.box2 {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  background-color: rgba(255, 0, 0, 0.448);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
}

h3 {
  text-decoration: underline;
  margin:0;
}
.movesList {
  margin: 1em;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
