.App {
  padding: 0;
  margin: 0;
}

.NavbarContainer {
  margin: 0;
  box-sizing: border-box; 
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.Navbar {
  width: 100%;
  display: flex;
  text-justify: left;
  color: white;
  display: inline;
}

.Burger {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  padding-right: 2px;
}
.Burger90 {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: red;
  padding-right: 2px;
}

.NavAndContent {
  margin: 0;
  border: 5px black;
  background-color: aqua;
  display: flex;
  justify-content: center;
  padding: 0;
}

.PokeList {
  text-align: center;
  list-style-type: none;
  right: 0;
  padding: 0;
  width: 150px;
  background-color: rgb(84, 84, 84);
  border: 2px solid black;
  height: 400px;
}

.Menu {
  display: flex;
  justify-self: flex-end;
}
.Content {
  border: 2px solid black;
  display: flex;
  position: relative;
  height: 400px;
  width: 1000px;
}

.pokeImg {
  height: 300px;
  width: auto;
}